header,
section {
  color: white;
  position: absolute;
}

header {
  top: 20%;
  left: 10%;
  font-size: 60px;
  font-family: "Orbitron", sans-serif;
}

section {
  top: 40%;
  right: 20%;
  font-size: 24px;
  animation-name: section;
  animation-duration: 1.5s;
}

@keyframes section {
  0% {
    opacity: 0;
    color: gray;
  }
  20% {
    opacity: 0.1;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 320px) and (max-width: 720px) {
  header {
    font-size: 20px;
    top: 30%;
  }
  section {
    font-size: 17px;
    top: 45%;
  }
}
@media (min-width: 721px) and (max-width: 1024px) {
  header {
    font-size: 30px;
  }
  section {
    font-size: 18px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  header {
    font-size: 40px;
  }
  section {
    font-size: 20px;
  }
}
@media (min-width: 1281px) and (max-width: 1480px) {
  header {
    font-size: 50px;
  }
  section {
    font-size: 22px;
  }
}
