.contact {
  color: white;
  font-size: 50px;
}

.contact-content {
  position: absolute;
  top: 45%;
  right: 10%;
  animation-name: content;
  animation-duration: 0.8s;
}
.language-li {
  color: #000;
}
.contact-header {
  position: absolute;
  font-size: 56px;
  top: 20%;
  left: 10%;
}

@keyframes content {
  0% {
    right: -80%;
  }
  25% {
    right: -50%;
  }
  50% {
    right: -20%;
  }
  100% {
    right: 10%;
  }
}

@media (min-width: 320px) and (max-width: 720px) {
  .contact {
    font-size: 24px;
  }
  .contact-content {
    top: 50%;
    font-size: 20px;
  }
  .contact-header {
    position: absolute;
    font-size: 30px;
    top: 30%;
    left: 10%;
  }
}
@media (min-width: 721px) and (max-width: 1024px) {
  .contact {
    font-size: 28px;
  }
  .contact-content {
    top: 50%;
  }
  .contact-header {
    position: absolute;
    font-size: 34px;
    top: 30%;
    left: 10%;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .contact {
    font-size: 28px;
  }
  .contact-content {
    top: 50%;
  }
  .contact-header {
    position: absolute;
    font-size: 34px;
    top: 30%;
    left: 10%;
  }
}
@media (min-width: 1281px) and (max-width: 1580px) {
  .contact {
    font-size: 36px;
  }
  .contact-content {
    top: 50%;
  }
  .contact-header {
    position: absolute;
    font-size: 40px;
    top: 30%;
    left: 10%;
  }
}
