@import "~react-image-gallery/styles/css/image-gallery.css";

.gallery {
  position: absolute;
  top: 85px;
  width: 100vw;
}

@media (min-width: 320px) and (max-width: 720px) {
  .gallery {
    top: 50%;
    transform: translateY(-50%);
  }
}
