nav {
  position: fixed;
  height: 85px;
  background-color: white;
  width: 100vw;
  display: block;
}
.logo {
  width: 100px;
  margin-top: 10px;
  position: absolute;
  left: 40px;
  top: 0;
  animation-name: logo;
  animation-duration: 0.5s;
}
.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}
span.name {
  top: 0;
}
.menu-icon {
  width: 65px;
  position: absolute;
  right: 40px;
  margin-top: 10px;
  display: none;
}
.nav-sites {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 85px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.flag-icon {
  width: 50px;
  height: 40px;
  margin-left: 8px;
}
.flag-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.lang {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #000;
}
ul.nav-sites {
  font-size: 20px;
}

.links:hover {
  cursor: pointer;
  color: rgb(24, 58, 92);
  transform: scale(1.01);
}

.links {
  text-decoration: none;
  list-style: none;
  color: #000;
}

.mobile-menu {
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: #fff;
  height: auto;
  display: none;
  z-index: 1;
  text-decoration: none;
}

@keyframes logo {
  25% {
    transform: scale(0.3);
  }
  60% {
    transform: scale(0.7);
  }
}
@media (min-width: 320px) and (max-width: 720px) {
  .menu-icon {
    display: inline;
  }
  .nav-sites {
    display: none;
  }
  .mobile-menu {
    display: block;
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  span.close {
    color: #000;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  span.close:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  img.mobile-logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 80px;
  }
}
@media (min-width: 721px) and (max-width: 1024px) {
  .links,
  ul.nav-sites {
    font-size: 16px;
    justify-content: space-around;
  }
  .logo {
    width: 70px;
    left: 20px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .links,
  ul.nav-sites {
    font-size: 18px;
    justify-content: space-around;
  }
  .logo {
    width: 80px;
  }
  .close {
    position: relative;
    top: 0%;
    right: 0%;
  }
}
