@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  overflow: hidden;
}
body {
  font-family: "Orbitron", sans-serif;
}
